.loader {
    position: relative;
    left: 50%;
    top: 50%;
    z-index: 1;
    width: 80px;
    height: 80px;
    margin: -40px 0 0 -40px;
    border-radius: 50%;
    animation: spin 2s linear infinite;
}

.light-loader {
    border: 10px solid white;
    border-top: 10px solid #c7ae88;
}

.dark-loader {
    border: 10px solid black;
    border-top: 10px solid rgb(153, 21, 5);
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
