.result-section {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: space-around;
}

@media (max-width: 780px) {
    .result-section {
        overflow-y: auto;
        height: 400px;
    }
}